$logo-max-height: 3.3125rem;

$breakpoint-xs: 565px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1199px;

$breakpoint-nav-mobile: $breakpoint-sm;

$color-background: #FFFFFF;
$color-surface: #F7F7F7;
$color-on-dark: #FFFFFF;
$color-primary: #393939;
$color-primary-1: #1A1A1A;
$color-secondary: #F78181;
$color-image-holder: #242424;
$color-image-holder-light: #FFFFFF;
$color-text-high: #404040;
$color-text-medium: #9A9A9A;
$color-text-copyright: #4C4C4C;
$color-border: #ECECEC;
$color-mask-base: #404040;
$color-mask: rgba(red($color-mask-base), green($color-mask-base), blue($color-mask-base), .5);
$input-placeholder-color: lighten($color-text-high, 30%);

$base-font-size: percentage(16/16);
$base-font-size-px: 16px;
$base-font-size-mobile: percentage(13/16);
$base-font-size-mobile-px: 13px;

$base-line-height: 1.625em;

$body-font: 'Montserrat';
$heading-font: 'Montserrat';
$button-font: 'Montserrat';
$nav-item-font: 'Montserrat';

$h1-size: 4rem;
$h2-size: 3rem;
$h3-size: 2.25rem;
$h4-size: 1.5rem;
$h5-size: 1rem;
$h6-size: 0.75rem;

$ligatures-active: true;

$h1-line-height: 1.2;
$h2-line-height: 3.125rem;
$h3-line-height: 1.2;
$h4-line-height: 1.2;
$h5-line-height: 1.2;
$h6-line-height: 1.25rem;

$blockquote-size: $h3-size;
$blockquote-line-height: $h3-line-height;

$ul-line-height: $base-line-height;

$heading-uppercase: false;
$heading-weight: 400;

$body-font-weight: 400;
$strong-font-weight: 600;

$buttons-uppercase: false;

$button-icon-size: 2.5rem;
$button-icon-text-size: 1.125rem;

$button-radius: 0px;
$button-padding-n: $base-line-height / 4;
$button-padding-s: $base-line-height / 4;
$button-padding-e: $base-line-height *1.5;
$button-padding-w: $base-line-height *1.5;
$border-width: 1px;
$button-text-size: $h6-size;
$button-font-weight: 700;
$button-spacing: $base-line-height;

$bar-base-padding-y: 1.375rem;

$dropdown-mega-menu-offset: 0.625rem;

$header-margin-n: 1.875rem;
$header-margin-w: 2.5rem;
$header-margin-e: 2.5rem;
$header-margin-s: 0;
$header-separator-height: 2px;

$promo-margin-n: 2.4375rem;

$content-margin-x: 13.59375%;
$content-margin-x-lg: 4.166666667%;
$content-margin-x-md: 11px;